.containing {
    border: 1px solid #0092FF;
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    padding: 24px;
    position: static;
    background: #F0F9FE;
    width: auto;
}

.button {
    font-size: 10px;
    padding: 8px 16px;
}

.ghost-button {
    font-size: 10px;
    padding: 8px 16px;
}

.bebas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tombol {
    margin-top: 10px;
}

p {
    color: black;
}