{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'curhat/curhat.css' %}">
{% endblock %}

{% block content %}

<section>
    <h1 class="judul">Curhatkan Unek-Unek Mu Disini</h1>
    <p id="subjudul">Kami menyediakan berbagai fitur yang dapat melepas kejenuhanmu</p>

    <div class="parent-card">
        <div class="card">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="dari">
                    <h2>Dari : </h2>
                    {{ form_curhat.dari }}
                </div>
                {{ form_curhat.isi }}
                <button type="submit" class="button">Curhatkan</button>
            </form>
        </div>

        {% for curhat in curhats %}
        <div class="card">
            <h2 class="judul">Dari <span class="biru">{{ curhat.dari }}</span></h2>
            <p>
                {{ curhat.isi }}
            </p>
        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}