{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Search Friend</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'findfriend/css/ff.css' %}">
{% endblock %}

{% block content %}
<section class="src">
    <div id="judul" class="kiri">
        <h1><label class="biru" for="">Find </label>Friends</h1>
        <h2>Carilah temanmu berdasarkan kategori berikut :</h2>
        <div class="serc">
            <form method="POST" action="{% url 'findfriends:friendlist' %}">
                {% csrf_token %}
                <label for="name">{{ form.university.label_tag }}</label><br>
                {{ form.university }}
                <br><br>
                <label for="name">{{ formtahun.tahun.label_tag }}</label><br>
                {{ formtahun.tahun }}
                <br><br>
                <label for="name">{{ form.major.label_tag }}</label><br>
                {{ form.major }}
                <br><br>
                <button type="submit" value="Save" class="button"><h4>SEARCH</h4></button>
            </form>
        </div>
    </div>

    <div class="kanan">
        <img src="{% static 'findfriend/card1.svg' %}" alt="" style="width: 40vmax; height: 40vmax;">
    </div>
</section>

{% endblock %}