@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* position: relative; */
    min-height: 100vh;
}

#body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    color: black;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

h4 {
    /* H4 */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
}

button {
    border: none;
}

.button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */

    cursor: pointer;
    color: white;
    text-transform: uppercase;

    padding: 12px 24px;
    background: #0092FF;
    border-radius: 5px;

    transition: 0.3s;
}

.button:hover {
    background: #0067b6;
}

.ghost-button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */

    box-sizing: border-box;
    cursor: pointer;
    color: #0092FF;
    text-transform: uppercase;
    background-color: white;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #0092FF;

    transition: 0.3s;
}

.ghost-button:hover {
    background: #0092FF;
    color: white;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */
    /* text-align: center; */
    /* Abu Paragraf */
    color: #6E7177;
}

nav {
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;

    box-sizing: border-box;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.25);

    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
}

.mobile {
    display: none;
}

.menu a{
    margin-left: 40px;
    transition: 0.3s;
}

.menu a:hover{
    color: #0092FF;
}

section {
    position: static;
    margin: auto;
    padding: 0 16px;
    padding-top: 180px;
    max-width: 1150px;
}

footer {
    position: static;
    bottom: 0;

    margin-top: 180px;
    display: flex;
    color: white;
    height: 150px;
    width: 100%;
    /* margin-top: 500px; */
    background-color: #0092FF;

    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    text-align: center;
}

input, textarea, select {
    padding: 8px 12px;
    border-radius: 8px;
    border: solid 1px #E4E4E4;
    width: max-content;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: black;
} 

textarea {
    resize: none;
}

input::placeholder, textarea::placeholder, select::placeholder {
    color: rgba(59, 59, 59, 0.459);
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 955px) {
    nav {
        padding: 0 16px;
    }
}

@media (max-width: 850px) {
    .menu {
        height: 100vh-80px;
    }

    .mobile {
        display: unset ;
    }

    nav {
        height: 60px;
    }

    .burger {
        height: 26px;
        cursor: pointer;
    }

    .burger-menu {
        background-color: white;
        margin-top: 60px;
        margin-right: 0px;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        width: 100vw;
        top: 0;
        left: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;

        border-bottom: 2px solid #0091ff;
    }

    .burger-menu a {
        margin-bottom: 1em;
        transition: 0.3s;
    }

    .burger-menu a:hover{
        color: #0092FF;
    }

    .burger-hide {
        position: absolute;
        left: 100%;
    }

    .desktop {
        display: none;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 650px) {
    section {
        padding-left: 16px;
        padding-right: 16px;
    }
}