{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'jawab/css/jawab.css' %}">
<title>Tambah Jawaban</title>
{% endblock %}
{% block content %}
<section style="margin-top: -50px;">
    <h1>Jawab</h1>
    <p>Jawab pertanyaan dari teman-temanmu disini!</p>
    <div class="bebas">
        <div class="containing">
            <h2  style="color: #0d1d66;">{{ pertanyaan.nama }} <span style="font-weight: normal">bertanya:</span></h2>
            <p>{{ pertanyaan.pertanyaan }}</p>
        </div>
        <form action="/jawab/tambahJawaban/save/{{id}}" method="POST">
            {% csrf_token %}
            <p style="color: #0092FF; font-weight: bold;">Nama:</p>
            {{form_peserta.nama }} <br><br>
            <p style="color: #0092FF; font-weight: bold;">Jawaban:</p>
            {{form_peserta.jawaban }} <br><br>
            <button class="button">Simpan</button>
        </form>
    </div>
</section>
{% endblock content %}
