{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'jawab/css/jawab.css' %}">
<title>Jawab</title>
{% endblock %}

{% block content %}
<section style="margin-top: -50px;">
    <h1>Jawab</h1>
    <p>Jawab pertanyaan dari teman-temanmu disini!</p>
    <div class="bebas">
        {% for pertanyaan in pertanyaan %}
        <div class="containing">
            <h2 style="color: #0d1d66;">{{ pertanyaan.nama }} <span style="font-weight: normal">bertanya:</span></h2>
            <p>{{ pertanyaan.pertanyaan }}</p>
            <div class="tombol">
                <a class="button" href='tambahJawaban/{{pertanyaan.id}}'>Jawab</a>
                <a class="ghost-button" href='showJawaban/{{pertanyaan.id}}'>Lihat Jawaban</a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock content %}