{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'jawab/css/jawab.css' %}">
<title>Lihat Jawaban</title>
{% endblock %}
{% block content %}

<section style="margin-top: -50px;">
    <h1>Daftar Jawaban</h1>
    <div class="bebas">
        <div class="containing">
            <h2  style="color: #0d1d66;">{{ pertanyaan.nama }} <span style="font-weight: normal">bertanya:</span></h2>
            <p>{{ pertanyaan.pertanyaan }}</p>
        </div>
        <h2>Jawaban:</h2>
        {% if jawabans %}
            {% for j in jawabans %}
            <div class="containing">
                <h2  style="color: #0d1d66;">{{ j.nama }} <span style="font-weight: normal">menjawab:</span></h2>
                <p>{{ j.jawaban }}</p>
            </div>
            {% endfor %}
        {% else %}
            <h2 style="font-weight: normal">Belum ada yang menjawab pertanyaan ini</h2>
        {% endif %}
    </div>
</section>
{% endblock content %}