{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'tanya/css/tanya.css' %}">
{% endblock %}

{% block content %}
<section>
   <h2>{{ title }}</h2>
   <p>Tambahkan pertanyaanmu disini!</p>
   <br>
    <form method="POST">
        {% csrf_token %}
        <div class="textinput">
            {{ formTanya.nama }}
        </div>
        <br>
        <div class='textarea'>
            {{ formTanya.pertanyaan }}
        </div>
        <br>
        <Button class=button>Tambah Pertanyaan</Button>
    </form>
</section>
{% endblock %}