{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'contribute/asset/contribute.css' %}">

<title>Contribute</title>
{% endblock %}

{% block content %}

<section class="lending1" style="flex-wrap: wrap; padding-top: 70px;">
    <div id="judul" class="kiri">
        <H1 style="text-align: center;"><label class="biru" for=""> Contribute </label> to us <label class="biru" for=""></H1>
        <p class="anak" style="text-align: center;"> Mari berkontribusi dengan memasukkan profil Anda. Profil Anda akan kami simpan agar orang lain dapat berkenalan dengan Anda. </p>
        <div class="kanan">
            <img src="{% static 'contribute/asset/lending-page-contribute-asset.svg' %}" alt="">
        </div>
    </div>
    <section style="padding-top: 10px; padding: 0%;">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="input-form">
                <tr>
                    <br>
                    <th class="fc"><label for="" >IMAGE URL</label></th>
                    <th>{{ form_contribute.image_url }}</th>
                    </th> 
                </tr>
                <tr>
                    <th class="fc"><label for="" >NAME</label></th>
                    <th>{{ form_contribute.name }}</th>
                    </th>
                    
                </tr>
                <tr>
                    <th class="fc"><label for="">INTEREST</label></th>
                    <th>{{ form_contribute.interest }}</th>
                </tr>
                <tr>
                    <th class="fc"><label for="">MAJOR</label></th>
                    <th>{{ form_contribute.major }}</th>
                </tr>
                <tr>
                    <th class="fc"><label for="">UNIVERSITY</label></th>
                    <th>{{ form_contribute.university }}</th>
                </tr>
                <tr>
                    <th class="fc"><label for="">YEAR OF ENTRY</label></th>
                    <th>{{ form_contribute.year_of_entry_cont }}</th>
                </tr>
                <tr>
                    <th class="fc"><label for="">SOCIAL MEDIA</label></th>
                    <th>{{ form_contribute.social_media }}</th>
                </tr>
        
            </table>
            <br>
            <p>Please kindly check your data input.</p> 
            <p>Once you submit, you can't change them anymore.</p>
            <br>
            <a id="tombol-kanan" class="ghost-button" href="{% url 'contributors' %}">See Who have contributed</a>
            <button type = "submit" class = "button" id="tombol-kanan"> Submit </button>
            
        </form>
        
    </section>
   
    
</section>



{% endblock %}