{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Friend List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'findfriend/css/ff.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1 style="text-align: center;">Our Contributors</h1>

    <div class="parent-card">
        {% for i in contributors %}
        <div class="card">
            <h3><strong>{{ i.name }}</strong></h3>
            <p id="list"><img src="https://secure.webtoolhub.com/static/resources/icons/set112/6f62880a.png" width="30px" height="30px"> {{ i.interest }}</p>
            <p id="list"><img src="https://i.pinimg.com/originals/b1/b7/de/b1b7de37299d6d589ba3d7e28652869b.png" width="30px" height="30px"> {{ i.university }}</p>
            <p id="list"><img src="https://images.squarespace-cdn.com/content/v1/5b1ae9562714e50c82575441/1584552166051-TYLHWF4YNUQ3CUO98U2O/ke17ZwdGBToddI8pDm48kGfiFqkITS6axXxhYYUCnlRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpxQ1ibo-zdhORxWnJtmNCajDe36aQmu-4Z4SFOss0oowgxUaachD66r8Ra2gwuBSqM/100-512.png" width="30px" height="30px"> {{ i.social_media }}</p>

        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}