{% extends 'base.html' %}
{% load static %}

{% block meta%}
<link rel="stylesheet" href="{% static 'main/css/lending-page.css' %}">
<link rel="stylesheet" href="{% static 'contribute/asset/contribute.css' %}">

{% endblock %}

{% block content %}

<section>
    <h2> Thanks <label class="biru" for="">{{ form_data.name }} </label> for your contribution</h2>
    <br>
    <p>These are your data summary</p>
    <br>
    <img src="{{ form_data.image_url }}" height="200px">
    <br>
    <table>
        <tr>
            <th class="fc"><label for="" >NAME</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.name }}</th>
            </th>
            
        </tr>
        <tr>
            <th class="fc"><label for="">INTEREST</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.interest }}</th>
        </tr>
        <tr>
            <th class="fc"><label for="">MAJOR</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.major }}</th>
        </tr>
        <tr>
            <th class="fc"><label for="">UNIVERSITY</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.university }}</th>
        </tr>
        <tr>
            <th class="fc"><label for="">YEAR OF ENTRY</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.year_of_entry_cont }}</th>
        </tr>
        <tr>
            <th class="fc"><label for="">SOCIAL MEDIA</label></th>
            <th class="fc" style="color: #0092FF;">{{ form_data.social_media }}</th>
        </tr>
    </table>
    <br><br>
    <a class = "button" href="{% url 'findfriends:searchfriends' %}"> Sure, Find a Friend </a>

</section>




{% endblock %}