.lending1 {
    display: flex;

    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.biru {
    color: #0092FF;
}

#judul {
    max-width: 510px;
}

.kiri {
    margin-top: 32px;
}

.anak {
    margin-top: 1rem;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* #tombol-kanan {
    margin-left: 16px;
} */

.kanan {
    margin-left: 32px;
}

.kanan img {
    width: 100%;
}

.section2 h1, .section2 p {
    text-align: center;
}

.parent-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.8rem;
    justify-content: center;
    align-items: flex-start;
}

.card {
    display: flex;
    box-sizing: border-box;
    max-width: 360px;
    background: #FFFFFF;
    box-shadow: 1px 4px 10px #00000025;
    border-radius: 10px;

    /* margin: 32px; */
    padding: 32px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card h2 {
    margin-top: 1.5rem;
}

.card p {
    margin-top: 1rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 650px) {
    section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .kanan {
        margin-left: 0;
    }
}